# 4.dars

In [1]:
%pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/murtozaev13/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/murtozaev13/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip3.12 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
%pip install numpy

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.1)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip3.12 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install seaborn

Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (2.2.1)
Requirement already satisfied: pandas>=1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Users/murtozaev13/Library/Python/3.12/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/murtozaev13/Library/Python/3.12/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/murtozaev13/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip3.12 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
%pip install matplotip.pyplot

ERROR: Could not find a version that satisfies the requirement matplotip.pyplot (from versions: none)
ERROR: No matching distribution found for matplotip.pyplot

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip3.12 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:


%pip 3.12 install --upgrade pip

ERROR: unknown command "3.12"
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np
import seaborn as sbs
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [7]:
df=pd.read_csv('sdmx_data_2402.csv')

In [12]:
df.head()

,Code,Klassifikator,Klassifikator_ru,Klassifikator_en,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1700,O‘zbekiston Respublikasi,Республика Узбекистан,Republic of Uzbekistan,8245.8,9504.8,11753.9,15219.3,20060.4,25423.1,29413.9,34698.0,51129.3,71156.5,88130.3,107492.7,130790.9,150792.6
1,1735,Qoraqalpog‘iston Respublikasi,Республика Каракалпакстан,Republic of Karakalpakstan,237.1,398.6,537.2,720.8,1053.5,1219.3,1171.8,1398.8,2182.7,3315.4,3992.5,4480.6,5272.4,5315.9
2,1735401,Nukus shahri,Город Нукус,Nukus city,71.5,157.9,248.2,339.7,487.1,509.2,493.9,546.1,897.9,1189.1,1321.6,1248.2,1731.7,1711.6
3,1735204,Amudaryo tumani,Амударьинский район,Amudarya district,15.5,25.0,30.6,49.4,51.1,63.9,71.4,82.4,112.6,116.5,174.1,220.0,267.9,288.3
4,1735207,Beruniy tumani,Берунийский район,Beruniy district,13.0,19.4,24.1,25.1,41.6,51.5,54.9,73.1,117.8,178.9,212.0,231.6,299.8,371.2

In [13]:
df.tail()

,Code,Klassifikator,Klassifikator_ru,Klassifikator_en,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
216,1726283,Sirg‘ali tumani,Сергелийский район,Sergeli district,52.5,101.0,113.3,132.9,178.7,199.7,273.1,419.4,561.1,895.8,804.4,1153.4,1194.5,1534.8
217,1726287,Yakkasaroy tumani,Яккасарайский район,Yakkasaray district,80.6,157.6,184.8,223.0,290.3,287.4,427.1,535.2,1110.6,1619.1,1658.9,2222.6,3223.9,3824.4
218,1726290,Yashnobod tumani,Яшнободский район,Yashnabad district,78.3,137.1,174.3,231.2,338.9,378.1,357.1,552.1,963.6,1375.1,1846.9,1902.8,2682.9,3231.7
219,1726292,Yangihayot tumani,Янгихаётский район,Yangikhayot district,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,290.8,934.8,1645.9,2005.1
220,1726294,Chilonzor tumani,Чиланзарский район,Chilanzar district,389.7,313.1,318.0,331.7,366.8,471.0,528.2,437.4,881.3,1512.9,1485.0,2933.0,3471.6,3394.5

In [14]:
df.drop('Klassifikator_ru', axis=1, inplace=True)

In [16]:
df.head()

,Code,Klassifikator,Klassifikator_en,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1700,O‘zbekiston Respublikasi,Republic of Uzbekistan,8245.8,9504.8,11753.9,15219.3,20060.4,25423.1,29413.9,34698.0,51129.3,71156.5,88130.3,107492.7,130790.9,150792.6
1,1735,Qoraqalpog‘iston Respublikasi,Republic of Karakalpakstan,237.1,398.6,537.2,720.8,1053.5,1219.3,1171.8,1398.8,2182.7,3315.4,3992.5,4480.6,5272.4,5315.9
2,1735401,Nukus shahri,Nukus city,71.5,157.9,248.2,339.7,487.1,509.2,493.9,546.1,897.9,1189.1,1321.6,1248.2,1731.7,1711.6
3,1735204,Amudaryo tumani,Amudarya district,15.5,25.0,30.6,49.4,51.1,63.9,71.4,82.4,112.6,116.5,174.1,220.0,267.9,288.3
4,1735207,Beruniy tumani,Beruniy district,13.0,19.4,24.1,25.1,41.6,51.5,54.9,73.1,117.8,178.9,212.0,231.6,299.8,371.2

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221 entries, 0 to 220
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Code              221 non-null    int64
 1   Klassifikator     221 non-null    object
 2   Klassifikator_en  221 non-null    object
 3   2010              221 non-null    float64
 4   2011              221 non-null    float64
 5   2012              221 non-null    float64
 6   2013              221 non-null    float64
 7   2014              221 non-null    float64
 8   2015              221 non-null    float64
 9   2016              221 non-null    float64
 10  2017              221 non-null    float64
 11  2018              221 non-null    float64
 12  2019              221 non-null    float64
 13  2020              221 non-null    float64
 14  2021              221 non-null    float64
 15  2022              221 non-null    float64
 16  2023              221 non-null    float64
dtypes: float64(14), int64(1), object(2)
memory usage: 29.5+ KB

In [19]:
df.isnull().sum()

Code                0
Klassifikator       0
Klassifikator_en    0
2010                0
2011                0
2012                0
2013                0
2014                0
2015                0
2016                0
2017                0
2018                0
2019                0
2020                0
2021                0
2022                0
2023                0
dtype: int64

In [20]:
df.describe()

,Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
count,2.210000e+02,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000
mean,1.603395e+06,94.692760,122.978733,153.245701,197.140271,253.439367,312.491403,354.748416,413.655656,631.946154,900.952036,1105.404525,1398.566516,1693.344344,1934.925339
std,4.332962e+05,565.621499,659.186375,815.321422,1052.337725,1384.379944,1749.692016,2021.728042,2389.547986,3543.609201,4947.159986,6116.044463,7512.156472,9150.890533,10540.538192
min,1.700000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,32.500000,18.600000
25%,1.708237e+06,12.000000,18.400000,23.500000,28.100000,36.900000,45.300000,50.200000,53.400000,83.000000,117.700000,142.300000,196.800000,212.300000,222.100000
50%,1.718401e+06,20.300000,29.100000,36.400000,51.400000,65.500000,79.200000,87.400000,94.600000,130.900000,198.000000,254.100000,314.500000,355.400000,393.400000
75%,1.727401e+06,42.300000,58.700000,70.300000,87.300000,110.800000,151.200000,155.300000,178.700000,274.000000,376.400000,417.900000,546.600000,703.900000,846.300000
max,1.735401e+06,8245.800000,9504.800000,11753.900000,15219.300000,20060.400000,25423.100000,29413.900000,34698.000000,51129.300000,71156.500000,88130.300000,107492.700000,130790.900000,150792.600000